/*CSS para pagina de Primeros pasos*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


body{
    background: rgb(2, 37, 37);
    line-height: 1.3; 
    display: flex;
    color: floralwhite;
    flex-direction: column;
    flex-wrap: wrap;
}

.section{ 
    position: relative;
    display: block;
    height: 100vh;
    min-width: 250px;
}


/*¿Qué es League of Legends?*/
.section:first-child{
    background-color: #16f58d;
    align-items: center;
    justify-content: center;
    background-image: url('imagenes/champeons2.jpg');
    background-size: cover; 
}

.section1_text{
    background-color: rgba(188, 143, 143, 0.877);
    text-align: center;
    padding: 10%;
    margin: 10%;
}

.section1_text h1{
    font-size: 5vh;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
}

.section1_text p{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
    font-size: 2.6vh;
}

/*¿Cómo jugar League of Legends?*/
.section:nth-child(2){
    background-color: rgb(7, 27, 15);
    background-size: cover; 
    background-image: url('imagenes/base.png');
    padding-top: 2%;
    text-align: center;
}

.section:nth-child(2) h1{
    font-size: 6vh;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
}

.boxcontainer2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 1vh;
    margin-top: 3%;
}

.box-text{ 
    width: 49vh;
    height: 24vh;
    padding-top: 2%; 
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid rgba(119, 79, 34, 0.6);
    text-align: center;
}

.box-text h2{
    font-size: 3vh;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-decoration: underline;
}

.box-text p{
    font-size: 2.3vh;
    font-weight: lighter;
    font-family: Candara;
}

.box-text:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.box-text:first-child{
    background-color: rgba(0, 0, 0, 0.623);
}

.box-text:nth-child(2){
    background-color: rgba(100, 7, 7, 0.623);
}

.box-text:nth-child(3){
    background-color: rgba(32, 86, 161, 0.623);
}

.box-text:last-child{
    background-color: rgba(0, 0, 0, 0.623);
}



/*Desbloquea tus habilidades*/
.section:nth-child(3){
    background-color: chocolate;
    background-size: cover; 
    background-image: url('imagenes/sec3fondo.jpg');
    padding-top: 1%;
    text-align: center;
}

.section:nth-child(3) h1{
    font-size: 6vh;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
}

.box3_text{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.box3_cards{
    width: 30vh;
    height: 35vh;
    padding: 2%;  
    border: 2px solid rgba(43, 43, 43, 0.459);
}

.box3_cards:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.box3_cards:first-child{
    background-color: rgba(158, 29, 29, 0.671);
}

.box3_cards:nth-child(2){
    background-color: rgba(33, 136, 33, 0.671);
}

.box3_cards:nth-child(3){
    background-color: rgba(30, 69, 128, 0.671);
}

.box3_cards:nth-child(4){
    background-color: rgba(145, 81, 9, 0.671);
}

.box3_cards h2{
    font-size: 3vh;
    font-style: normal;
    text-align: center;
    font-family: 'Lora', serif; 
    text-decoration: underline;
}

.box3_cards p{
    font-size: 2.3vh;
    font-weight: lighter;
    text-align: center; 
    font-family: Candara;
}

.box3_img{
    height: 27vh;
    width: 107vh;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.39)
}

.barratutorial{
    height: 27vh;
}



/*Campeones*/
.section:nth-child(4){
    background-color: crimson;
    background-size: cover; 
    background-image: url('imagenes/champeons3.jpg');
    padding-top: 2%;
    text-align: center;
}

.section:nth-child(4) h1{
    font-size: 6vh;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
}

.boxcontainer4{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    padding-top: 8%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.wrapper{
    height: 35vh;
    width: 30vh;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0.3vh;
    background: rgb(17, 17, 17);
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }

  .wrapper:hover > .front-face{
    transform: rotateY(-180deg);
  }

  .wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
  }

  .wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }

  .wrapper .back-face img{
    height: 15vh;
    width: 15vh;
    padding: 0.5vh;
    border-radius: 50%;
    background: rgb(141, 111, 74);
  }

  .wrapper .back-face .info{
    text-align: center;
  }
  
  .back-face .info .title{
    font-size: 3vh;
    font-weight: 400;
  }

  .back-face .info .p{
    font-size: 1.5vh;
    font-weight: 100;
  }


.fbutton{
    align-items: center;
    padding-top: 7%;
}
  
.botonesinicio{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 30vh;
    height: 6vh;
    background: rgba(35, 49, 43, 0.8);
    border: 0.1vh solid #F5AA16;
    box-sizing: border-box;
    color: #ffc654;
    text-align: center;
    line-height: 2.5;
    font-size: 2.5vh;
    font-family: 'Abel', sans-serif;
    align-content: center;

}
.btn a:hover {
    background: #F5AA16;
    color: rgba(35, 49, 43, 0.8);
}


/*Query Ipads*/
@media only screen and (min-width: 377px) and (max-width: 770px){

.section{
    height: 110vh;
}

.section:first-child{
    background-image: url('imagenes/w2.jpg');
}

.section1_text p{
    font-size: 2.9vh;
}

.section:nth-child(2){
    background-image: url('imagenes/map2.png');
}


.section:nth-child(2) h1{
    font-size: 4vh;
}

.box-text{ 
    width: 65vh;
    height: 22vh;
    padding-bottom: 0%;
}
    
.box-text h2{
    font-size: 2vh;
}

.box-text p{
    font-size: 2.1vh;
}

.box-text:nth-child(2){
    background-color: rgba(0, 0, 0, 0.623);
}

.box-text:nth-child(3){
    background-color: rgba(0, 0, 0, 0.623);
}

.section:nth-child(3) h1{
    font-size: 4vh;
}

.box3_cards{
    width: 30vh;
    height: 32vh;
    padding: 2%;  
}

.box3_cards h2{
    font-size: 2vh;
}

.box3_img{
    height: 22vh;
    width: 87vh;
}
    
.barratutorial{
    height: 22vh;
}

.section:nth-child(4){ 
    background-image: url('imagenes/champs2.jpg');
}

.section:nth-child(4) h1{
    font-size: 4vh;
}

.boxcontainer4{
    padding-top: 5%;
    grid-gap: 1.2vh;
}

.wrapper{
    height: 30vh;
    width: 27vh;
  }

.fbutton{
    padding-top: 9%;
}
}


/*Query celulares*/
@media only screen and (max-width: 376px){

.section{
    height: 155vh;
 }
    
.section:first-child{
    background-image: url('imagenes/w2.jpg');
}
    
.section1_text h1{
    font-size: 7vh;
}

.section1_text p{
    font-size: 4.9vh;
}
    
.section:nth-child(2){
    background-image: url('imagenes/map2.png');
}
    
.section:nth-child(2) h1{
    font-size: 4.5vh;
}
    
.box-text{ 
    width: 65vh;
    height: 33vh;
    padding-bottom: 0%;
}
        
.box-text h2{
    font-size: 4vh;
}
    
.box-text p{
    font-size: 2.8vh;
}
    
.box-text:nth-child(2){
    background-color: rgba(0, 0, 0, 0.623);
}
    
.box-text:nth-child(3){
    background-color: rgba(0, 0, 0, 0.623);
}
    
.section:nth-child(3) h1{
    font-size: 4.5vh;
}
    
.box3_cards{
    width: 30vh;
    height: 50vh;
    padding: 2%;  
}
    
.box3_cards h2{
    font-size: 4vh;
}
    
.box3_cards p{
    font-size: 2.8vh;
}

.box3_img{
    height: 22vh;
    width: 87vh;
}
        
.barratutorial{
    height: 22vh;
}
    
.section:nth-child(4){ 
    background-image: url('imagenes/champs2.jpg');
}
    
.section:nth-child(4) h1{
    font-size: 4.5vh;
}
    
.boxcontainer4{
    padding-top: 5%;
    grid-gap: 1.2vh;
}
    
.wrapper{
    height: 37vh;
    width: 29vh;
}
    
.fbutton{
    padding-top: 9%;
}

.botonesinicio{
    width: 35vh;
    height: 8vh;
    font-size: 2.8vh;
}
}