@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-size:cover;
    background-image: url('imagenes/mapa.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 400px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: Crimson Text;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 182px;
    text-align: center;
    color: #fffae8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 0.8;
}

h2{
    font-family: Candara;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F5AA16;
    border: 1px solid #6A4C10;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botonesinicio{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 52px;
    background: rgba(35, 49, 43, 0.8);
    border: 1px solid #F5AA16;
    box-sizing: border-box;
    color: #F5AA16;
    text-align: center;
    line-height: 3.5;
    font-size: 14px;
    font-weight: bold;
}

.btn a:first-child {
    margin-right: 70px;
}

.btn a:hover {
    background: #F5AA16;
    color: rgba(35, 49, 43, 0.8);
}