/*CSS para pagina de Primeros pasos*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

/*Página completa*/
.container{
    font-family:Crimson Text;
    background: rgb(11, 2, 31);
    line-height: 1.3; 
    display: flex;
    color: floralwhite;
    flex-direction: column;
}

h1{
    font-size: 6vh;
    margin-bottom: 0;
    font-weight: bold;
    font-style: normal;
    font-family: 'Lora', serif; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);   
    text-align: center; 
 }

p {
    display: block;
    margin-bottom: 0;  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.549);
    font-size: 3vh;
}


/*¿Qué es League of Legends?*/
.section1{
    position: relative;
    top: 0%;
    left: 0%;
    margin: 0%;
    bottom: 0%;
    display: block;
}

.boxcontainer{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

video{
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    filter: brightness(50%);
}

.section1_text{
    text-align: center;
    z-index: 1;
    position: absolute;
    padding: 20%;
}



/*¿Cómo jugar League of Legends?*/
.section2{
    position: relative;
    padding-top: 3%;
    margin: 0%;
    bottom: 0;
    display: block;
}

.boxcontainer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding-top: 5%;
    height: 100vh; 
    background-size: cover; 
    background-image: url('imagenes/base.png');
}

.box-text{ 
    width: 30%;
    height: 30%;
    padding: 2%;  
    border: 1px solid rgba(119, 79, 34, 0.6);
}

.box-text:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.box-text:first-child{
    background-color: rgba(0, 0, 0, 0.377);
}

.box-text:nth-child(2){
    background-color: rgba(100, 7, 7, 0.377);
}

.box-text:nth-child(3){
    background-color: rgba(32, 86, 161, 0.377);
}

.box-text:last-child{
    background-color: rgba(0, 0, 0, 0.377);
}

.s2_title{
    font-size: 3vh;
    font-style: normal;
    text-align: center;
    font-family: 'Lora', serif; 
    text-decoration: underline;
}

.s2_p{
    font-size: 2.5vh;
    font-weight: lighter;
    text-align: center; 
    font-family: Candara;
}


/*Desbloquea tus habilidades*/
.section3{
    position: relative;
    margin: 0%;
    bottom: 0;
    display: block;
}

.boxcontainer3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 2%;
    height: 100vh; 
    background-size: cover; 
    background-image: url('imagenes/sec3fondo.jpg');
}

.box3_text{
    display: flex;
    justify-content: space-between;
    height: 45%;
    width: 100%;
    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.box3_cards{
    width: 20%;
    height: 70%;
    padding: 2%;  
    border: 2px solid rgba(43, 43, 43, 0.459);
}

.box3_cards:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.box3_cards:first-child{
    background-color: rgba(158, 29, 29, 0.671);
}

.box3_cards:nth-child(2){
    background-color: rgba(33, 136, 33, 0.671);
}

.box3_cards:nth-child(3){
    background-color: rgba(30, 69, 128, 0.671);
}

.box3_cards:last-child{
    background-color: rgba(145, 81, 9, 0.671);
}

.cards_title{
    font-size: 3vh;
    font-style: normal;
    text-align: center;
    font-family: 'Lora', serif; 
    text-decoration: underline;
}

.cards_p{
    font-size: 2.3vh;
    font-weight: lighter;
    text-align: center; 
    font-family: Candara;
}

.box3_img{
    height: 25%;
    margin-bottom: 5%;
}

.barratutorial{
    height: 27vh;
    width: 105vh;
}



/*BLOQUE 4 GALERIA GAMPEONES*/
.contenedor{
    margin: 20%;
    padding: 10%;
    position: absolute;
    margin-top: 0;
    padding-top: 50px;  
}
.galeria{ 
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap; align-content: stretch;
    height: 100em;
    align-items: flex-start;
}
.personajes{
    width: 200px;
    height: 400px;
    margin: 0px;
}
.box{
    background-color: #D4AF37;
    width: 200px;
    height: 500px;
}
/* BOTON PARA VER MAS CAMPEONES*/

.botonesinicio{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 52px;
    background: rgba(35, 49, 43, 0.8);
    border: 1px solid #F5AA16;
    box-sizing: border-box;
    color: #ffc654;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    align-content: center;
    position: absolute;
}
.btn a:hover {
    background: #F5AA16;
    color: rgba(35, 49, 43, 0.8);
}